html, body {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #F1F5F9;
}
img {
    display: block;
    border: 0;
}
.banner {
    position: relative;
    width: 100%;

    overflow: hidden;
}
.banner .bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.banner .bg .gradient-top {
    position: absolute;
    width: 57%;
    right: 0;
    top: 0;
}
.banner .bg .gradient-top img {
    top: -50%;
}

.banner .bg .gradient-left {
    position: absolute;
    width: 57%;
    left: 0;
    top: 100px;
}

.banner .bg .gradient-left img,
.banner .bg .gradient-top img {
    width: 100%;
    opacity: 0.2;
}
.banner .bg .logo {
    position: absolute;
    width: 63%;
    top: 0;
    left: 40%;
}
.banner .bg .logo img {
    width: 100%;
}
.banner .navbar {
    position: relative;
    height: 100px;
}
.banner .navbar .logo {
    position: relative;
    top: 16px;
    left: 48px;
}

.banner .navbar .nav-items {
    position: absolute;
    top: 16px;
    right: 48px;
    background: white;
    opacity: 0.8;
    border-radius: 12px;
    padding: 16px 32px;
    font-size: 16px;
    line-height: 16px;
}
.banner .navbar .nav-items .nav-item {
    display: inline-block;
    margin: 0 16px;
    text-decoration: none;
    color: #8987A1;
    width: 60px;
    height: 16px;
    text-align: center;
}

.banner .navbar .nav-items .divider {
    display: inline-block;
    color: #e9e7f1;
}

.banner .navbar .nav-items .nav-item:hover {
    color: black;
}

.banner .sidebar {
    position: absolute;
    width: 43px;
    right: 48px;
    top: 148px;
}

.banner .sidebar .sidebar-item {
    position: relative;
    display: block;
    margin-bottom: 36px;
    width: 43px;
    height: 43px;
    text-align: center;
    border-radius: 22px;
}

.banner .sidebar .sidebar-item .bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: 22px;
    opacity: 0.5;
    z-index: 1;
}

.banner .sidebar .sidebar-item:hover .bg {
    opacity: 0.7;
}

.banner .sidebar .sidebar-item .icon {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    line-height: 50px;
}

.banner .sidebar .sidebar-item img {
    display: inline-block;
    position: relative;
    width: 24px;
}

.banner .sidebar .sidebar-arrow {
    position: relative;
    text-align: center;
    margin-top: 14px;
}

.banner .sidebar .sidebar-arrow img {
    display: inline-block;
}

.banner .slogan {
    position: relative;
    width: 60%;
    margin-top: 140px;
    margin-left: 8%;
    font-size: 90px;
    font-weight: 700;
    line-height: 130px;
    text-align: left;
}

.banner .network-stats {
    position: relative;
    margin: 240px auto;
    width: 75%;
    text-align: center;
    padding-top: 68px;
    padding-bottom: 56px;
}

.banner .network-stats .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    border-radius: 36px;
    opacity: 0.5;
    z-index: 1;
}

.banner .network-stats .arrows {
    position: absolute;
    z-index: 2;
    top: -9px;
    left: 44px;
}

.banner .network-stats .arrows img {
    display: inline-block;
    width: 18px;
    margin-right: 14px;
}

.banner .network-stats .stats-item {
    position: relative;
    display: inline-block;
    margin-left: 128px;
    height: 80px;
    z-index: 3;
}

.banner .network-stats .stats-item:first-child {
    margin-left: 0;
}

.banner .network-stats .stats-item .stats-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 16px;
}
.banner .network-stats .stats-item .stats-icon img {
    width: 100%;
}

.banner .network-stats .stats-item .stats-title {
    margin-left: 56px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.banner .network-stats .stats-item .stats-data {
    margin-left: 56px;
    margin-top: 16px;
    color: #09A9FD;
    font-size: 40px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.banner .partners {
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.banner .partners .partner-scroller {
    position: relative;
    width: 75%;
    margin: 88px auto;
}

.banner .partners .partner-scroller .row {
    position: relative;
    margin-top: 40px;
    height: 100px;
}

.banner .partners .partner-scroller .partner {
    position: relative;
    float: left;
    width: 20%;
    height: 100px;
    text-align: center;
}
.banner .partners .partner-scroller .partner img {
    display: block;
    position: absolute;
    width: 80%;
    top: 0;
    left: 10%;

    transition: opacity .2s linear;
}
.banner .partners .partner-scroller .partner img.gray,
.banner .partners .partner-scroller .partner:hover img.color
 {
    opacity: 1;
}
.banner .partners .partner-scroller .partner img.color,
.banner .partners .partner-scroller .partner:hover img.gray
 {
    opacity: 0;
}

.features {
    position: relative;
}
.feature.permissionless {
    text-align: center;
    margin-top: 128px;
}
.feature.permissionless > .title {
    font-size: 40px;
    font-weight: 700;
}

.feature.permissionless .items {
    position: relative;
    width: 50%;
    left: 25%;
    margin-top: 64px;
}

.feature.permissionless .items .item {
    position: relative;
    width: 100%;
    background-color: white;
    opacity: 0.8;
    margin-top: 24px;
    border-radius: 16px;
    padding: 0.5px;
}

.feature.permissionless .items .item .icon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 32px;
    top: 32px;
    background-color: #09A9FD;
    border-radius: 16px;
}

.feature.permissionless .items .item .icon img {
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    left: 26px;
    top: 26px;
}

.feature.permissionless .items .item .title {
    position: relative;
    text-align: left;
    margin-left: 180px;
    margin-top: 36px;
    font-size: 24px;
    font-weight: 700;
}

.feature.permissionless .items .item .description {
    position: relative;
    text-align: left;
    margin-left: 180px;
    margin-top: 8px;
    margin-bottom: 36px;
    padding-right: 32px;
    color: #191825;
}

.feature.start-a-node {
    margin-top: 208px;
    text-align: center;
}
.feature.start-a-node > .title {
    font-size: 40px;
    font-weight: 700;
}
.feature.start-a-node .buttons {
    margin-top: 88px;
}
.feature.start-a-node .buttons .node-btn {
    position: relative;
    display: inline-block;
    background-color: #09A9FD;
    border-radius: 16px;
    width: 200px;
    height: 60px;
    line-height: 60px;
    margin: 0 64px;
    text-decoration: none;
    color: white;
    text-align: left;
}
.feature.start-a-node .buttons .node-btn:hover {
    background-color: #29C9FF;
}
.feature.start-a-node .buttons .node-btn img {
    display: block;
    position: absolute;
    left: 36px;
    top: 14px;
    width: 32px;
    height: 32px;
}

.feature.start-a-node .buttons .node-btn .text {
    margin-left: 90px;
    font-size: 16px;
}

.feature.start-a-node .or {
    font-size: 20px;
    font-weight: 700;
    margin-top: 88px;
}

.feature.start-a-node .play-to-earn {
    margin-top: 24px;
    font-size: 24px;
}

.feature.start-a-node .play-to-earn a {
    text-decoration: underline;
    color: black;
}

.feature.model-service {
    position: relative;
    margin-top: 168px;
}

.feature.model-service .model-service-frame {
    position: relative;
    width: 75%;
    margin: 0 auto;
    margin-top: 128px;
    border: 2px solid white;
    border-radius: 16px;
    padding: 56px;
}

.feature.model-service .model-service-frame > .title {
    font-size: 64px;
    line-height: 84px;
    font-weight: 700;
}

.feature.model-service .model-service-frame .button {
    position: relative;
}
.feature.model-service .model-service-frame .button a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #09A9FD;
    color: #09A9FD;
    font-size: 24px;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 36px;
    margin-top: 64px;
}
.feature.model-service .model-service-frame .button a:hover {
    color: #29C9FD;
}

.feature.model-service .model-service-frame .highlights {
    position: relative;
    overflow: auto;
    margin-top: 64px;
}

.feature.model-service .model-service-frame .highlights .item-wrapper {
    position: relative;
    width: 33.33%;
    float: left;
}

.feature.model-service .model-service-frame .highlights .item-wrapper .item {
    position: relative;
    width: 80%;
    background-color: white;
    padding: 56px 32px;
    border-radius: 16px;
}
.feature.model-service .model-service-frame .highlights .item-wrapper .item .triangles img {
    display: inline-block;
    width: 14px;
    margin: 0 12px;
}

.feature.model-service .model-service-frame .highlights .item-wrapper .item.middle {
    margin:0 auto;
}

.feature.model-service .model-service-frame .highlights .item-wrapper .item.right {
    float: right;
}

.feature.model-service .model-service-frame .highlights .item-wrapper .item .title {
    font-size: 24px;
    font-weight: 700;
    color: #262626;
    margin-top: 24px;
}

.feature.model-service .model-service-frame .highlights .item-wrapper .item .description {
    font-size:  18px;
    margin-top: 16px;
    line-height: 28px;
    color: #262626;
}

.feature.defi {
    position: relative;
    margin-top: 168px;
}

.feature.defi .content {
    position: relative;
    width: 75%;
    margin: 0 auto;
    padding-top: 148px;
    overflow: auto;
}

.feature.defi .content > .title {
    position: relative;
    width: 45%;
    float: left;
    margin-top: 140px;
}


.feature.defi .content > .title .line {
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
}

.feature.defi .content .highlights {
    position: relative;
    width: 55%;
    float: left;
}

.feature.defi .bg {
    position: absolute;
    right: 15%;
    top: 0;
}

.feature.defi .content .highlights .column {
    position: relative;
    width: 50%;
    float: left;
}

.feature.defi .content .highlights .column .item {
    position: relative;
    width: 70%;
    background-color: #94A3B8;
    border-radius: 16px;
    padding: 24px 24px;
}

.feature.defi .content .highlights .column .item:nth-child(2) {
    margin-top: 24px;
}

.feature.defi .content .highlights .column .item .title {
    position: relative;
}

.feature.defi .content .highlights .column .item .title img {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
}

.feature.defi .content .highlights .column .item .title .text {
    margin-left: 36px;
    font-size: 20px;
    color: white;
    line-height: 24px;
}

.feature.defi .content .highlights .column .item .description {
    margin-top: 24px;
    color: white;
    font-size: 16px;
    line-height: 26px;
}

.feature.defi .content .highlights .column .item .description .line {
    margin-bottom: 12px;
}

.feature.defi .content .highlights .column:nth-child(2) .item {
    margin-top: 60px;
}

.footer-bg-wrapper {
    position: relative;
    overflow: hidden;
}

.footer-bg-wrapper .bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100px;
    opacity: 0.1;
}

.footer-bg-wrapper .bg img {
    width: 100%;
}


.roadmap {
    position: relative;
    margin-top: 188px;
}

.roadmap .content {
    position: relative;
    width: 75%;
    margin: 0 auto;
}

.roadmap .content > .title {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
}

.roadmap .content .roads {
    position: relative;
    overflow: auto;
    margin-top: 88px;
    height: 700px;
}

.roadmap .content .roads .road-left {
    position: relative;
    width: 35%;
    float: left;
}

.roadmap .content .roads .road-axis {
    position: relative;
    width: 30%;
    float: left;
    height: 100%;
}

.roadmap .content .roads .road-axis .timeline {
    position: absolute;
    width: 4px;
    height: 100%;
    left: 50%;
    margin-left: -2px;
    top: 0;
    background-color: #3C53C9;
    opacity: 0.1;
}

.roadmap .content .roads .road-axis .timestop {
    position: absolute;
}

.roadmap .content .roads .road-axis .timestop .stop {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #3C53C9;
}

.roadmap .content .roads .road-axis .timestop .line {
    position: absolute;
    height: 1px;
    top: 50%;
    left: 16px;
    right: 16px;
    background-color: #00ADFE;
}

.roadmap .content .roads .road-axis .timestop.helium {
    top: 92px;
    left: 50%;
    right: 0;
    margin-left: -6px;
}

.roadmap .content .roads .road-axis .timestop.lithium {
    top: 282px;
    left: 0;
    right: 50%;
    margin-right: -6px;
}

.roadmap .content .roads .road-axis .timestop.lithium .stop {
    float: right;
}

.roadmap .content .roads .road-axis .timestop.beryllium {
    top: 467px;
    left: 50%;
    right: 0;
    margin-left: -6px;
}

.roadmap .content .roads .road-right {
    position: relative;
    width: 35%;
    float: left;
}

.roadmap .content .roads .milestone {
    position: relative;
    padding: 32px 32px;
    background-color: white;
    border-radius: 16px;
}

.roadmap .content .roads .milestone .arrow {
    position: relative;
    font-size: 30px;
    padding-left: 8px;
    color: #94A3B8;
}

.roadmap .content .roads .milestone .title {
    font-size: 24px;
    margin-top: 8px;
    font-weight: 700;
}

.roadmap .content .roads .milestone .description {
    font-size: 18px;
    margin-top: 16px;
    color: #666;
    line-height: 32px;
}

.roadmap .content .roads .milestone.helium {
    background-color: #64748B;
}

.roadmap .content .roads .milestone.helium .arrow,
.roadmap .content .roads .milestone.helium .title,
.roadmap .content .roads .milestone.helium .description {
    color: white;
}

.roadmap .content .roads .milestone.lithium {
    top: 192px;
}

.roadmap .content .roads .milestone.beryllium {
    margin-top: 90px;
}

.footer {
    position: relative;
    padding-top: 188px;
    padding-bottom: 88px;
}
.footer .content {
    position: relative;
    width: 75%;
    margin: 0 auto;
    background-color: white;
    border-radius: 16px;
    padding: 64px;
}

.footer .content .logo {
    position: relative;
    width: 200px;
}

.footer .content .logo img {
    display: block;
    width: 100%;
}

.footer .content .link-items {
    position: absolute;
    right: 0;
    top: 0;
}

.footer .content .link-items .link-item {
    text-decoration: none;
    color: #8987A1;
    display: inline-block;
    margin: 0 8px;
    width: 60px;
    text-align: center;
}

.footer .content .link-items .link-item:hover {
    color: black;
}

.footer .content .link-items .divider {
    color: #e0e0e0;
}

.footer .content .row {
    position: relative;
}

.footer .content .row:nth-child(2) {
    margin-top: 88px;
}

.footer .content .row .social-links {
    position: absolute;
    right: 0;
    top: 0;
}

.footer .content .row .social-links .social-link {
    position: relative;
    float: right;
    width: 27px;
    height: 27px;
    margin-left: 24px;
    opacity: 0.8;
}

.footer .content .row .social-links .social-link:hover {
    opacity: 1;
}

.footer .content .row .social-links .social-link img {
    position: relative;
}