@media (max-width: 1199px) and (min-width: 700px)  {
    .banner .slogan {
        margin-top: 70px;
        font-size: 40px;
        line-height: 70px;
    }

    .banner .navbar .logo {
        left: 16px;
    }

    .banner .navbar .nav-items {
        padding: 8px 8px;
        right: 16px;
    }

    .banner .navbar .nav-items .nav-item {
        width: 40px;
        font-size: 14px;
    }

    .banner .network-stats {
        margin: 148px auto 88px;
        width: 85%;
        padding-top: 48px;
        padding-bottom: 36px;
    }

    .banner .network-stats .stats-item {
        margin-left: 34px;
    }

    .banner .network-stats .stats-item .stats-icon {
        width: 30px;
        height: 30px;
        top: 24px;
    }

    .banner .network-stats .stats-item .stats-title {
        margin-left: 44px;
    }

    .banner .network-stats .stats-item .stats-data {
        font-size: 24px;
        margin-left: 44px;
    }

    .banner .partners .partner-scroller {
        width: 95%;
        margin: 48px auto;
    }

    .feature.permissionless {
        margin-top: 0;
    }

    .feature.permissionless > .title {
        font-size: 30px;
    }

    .feature.permissionless .items {
        width: 90%;
        left: 5%;
    }

    .feature.permissionless .items .item .title {
        font-size: 18px;
    }

    .feature.permissionless .items .item .description {
        font-size: 14px;
    }

    .feature.start-a-node {
        margin-top: 88px;
    }

    .feature.start-a-node > .title {
        font-size: 30px;
    }

    .feature.start-a-node .buttons .node-btn {
        margin: 0 8px;
        width: 140px;
    }

    .feature.start-a-node .buttons .node-btn img {
        left: 16px;
    }

    .feature.start-a-node .buttons .node-btn .text {
        margin-left: 60px;
    }

    .feature.model-service {
        margin-top: 88px;
    }

    .feature.model-service .model-service-frame {
        margin-top: 68px;
        padding: 24px;
        width: 85%;
    }

    .feature.model-service .model-service-frame > .title {
        font-size: 36px;
        line-height: 50px;
    }

    .feature.model-service .model-service-frame .button a {
        font-size: 20px;
        margin-top: 48px;
    }

    .feature.model-service .model-service-frame .highlights {
        margin-top: 48px;
    }

    .feature.model-service .model-service-frame .highlights .item-wrapper {
        float: none;
        width: 100%;
        margin-top: 16px;
    }

    .feature.model-service .model-service-frame .highlights .item-wrapper .item {
        width: auto;
        padding: 48px 24px;
        float: none !important;
    }

    .feature.model-service .model-service-frame .highlights .item-wrapper .item.middle {
        margin: 0;
    }

    .feature.model-service .model-service-frame .highlights .item-wrapper .item .triangles img {
        margin: 0 6px;
    }

    .feature.model-service .model-service-frame .highlights .item-wrapper .item .title {
        font-size: 18px;
    }

    .feature.model-service .model-service-frame .highlights .item-wrapper .item .description {
        font-size: 14px;
        line-height: 24px;
    }

    .feature.defi {
        margin-top: 16px;
    }

    .feature.defi .bg {
        width: 40%;
        right: 0;
    }

    .feature.defi .bg img {
        width: 100%;
    }

    .feature.defi .content {
        width: 90%
    }

    .feature.defi .content > .title {
        width: 35%;
    }

    .feature.defi .content > .title .line {
        font-size: 36px;
        line-height: 56px;
    }

    .feature.defi .content .highlights {
        width: 65%;
    }

    .feature.defi .content .highlights .column .item {
        width: 84%;
        padding: 16px;
    }

    .feature.defi .content .highlights .column .item .title .text {
        font-size: 16px;
    }

    .feature.defi .content .highlights .column .item .description {
        font-size: 14px;
        line-height: 24px;
    }

    .roadmap {
        margin-top: 88px;
    }

    .roadmap .content {
        width: 90%;
    }

    .roadmap .content > .title {
        font-size: 30px;
    }

    .roadmap .content .roads {
        height: 800px;
    }

    .roadmap .content .roads .milestone {
        padding: 24px;
    }

    .roadmap .content .roads .milestone .title {
        font-size: 20px;
    }

    .roadmap .content .roads .milestone .description {
        font-size: 16px;
        line-height: 24px;
    }

    .roadmap .content .roads .milestone.helium {
        margin-top: 131px;
    }

    .roadmap .content .roads .milestone.lithium,
    .roadmap .content .roads .milestone.beryllium {
        margin-top: 50px;
    }

    .roadmap .content .roads .road-axis .timestop.hydrogen {
        top: 80px;
    }

    .roadmap .content .roads .road-axis .timestop.helium {
        top: 210px;
    }

    .roadmap .content .roads .road-axis .timestop.lithium {
        top: 340px;
    }

    .roadmap .content .roads .road-axis .timestop.beryllium {
        top: 470px;
    }

    .footer {
        padding-top: 88px;
    }

    .footer .content {
        width: 85%;
        padding: 32px;
    }

    .footer .content .link-items {
        position: relative;
        margin-top: 16px;
    }

    .footer .content .link-items .link-item {
        width: 50px;
        font-size: 14px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px)  {
    .banner .slogan {
        margin-top: 100px;
        font-size: 56px;
        line-height: 80px;
    }

    .banner .network-stats {
        margin: 108px auto;
        padding-top: 48px;
        padding-bottom: 36px;
    }

    .banner .network-stats .stats-item {
        margin-left: 88px;
    }

    .banner .partners .partner-scroller {
        width: 85%;
    }

    .feature.permissionless {
        margin-top: 0;
    }

    .feature.permissionless .items {
        width: 80%;
        left: 10%;
    }

    .feature.start-a-node {
        margin-top: 148px;
    }

    .feature.start-a-node .buttons .node-btn {
        margin: 0 32px;
    }
    .feature.model-service {
        margin-top: 148px;
    }
    .feature.model-service .model-service-frame > .title {
        font-size: 48px;
        line-height: 64px;
    }

    .feature.model-service .model-service-frame .highlights .item-wrapper .item {
        padding: 48px 24px;
    }

    .feature.model-service .model-service-frame .highlights .item-wrapper .item .triangles img {
        margin: 0 6px;
    }

    .feature.model-service .model-service-frame .highlights .item-wrapper .item .title {
        font-size: 20px;
    }

    .feature.model-service .model-service-frame .highlights .item-wrapper .item .description {
        font-size: 16px;
    }

    .feature.defi {
        margin-top: 88px;
    }

    .feature.defi .bg {
        right: 5%;
    }

    .feature.defi .content {
        width: 90%;
    }

    .feature.defi .content > .title {
        width: 40%;
    }

    .feature.defi .content .highlights {
        width: 60%;
    }


    .feature.defi .content > .title .line {
        font-size: 48px;
        line-height: 60px;
    }

    .feature.defi .content .highlights .column .item {
        width: 80%;
        padding: 20px;
    }

    .feature.defi .content .highlights .column .item .title .text {
        font-size:18px;
    }

    .roadmap {
        margin-top: 88px;
    }

    .roadmap .content {
        width: 80%;
    }

    .roadmap .content .roads {
        height: 700px;
    }

    .roadmap .content .roads .milestone {
        padding: 24px;
    }

    .roadmap .content .roads .milestone .title {
        font-size: 20px;
    }

    .roadmap .content .roads .milestone .description {
        font-size: 16px;
        line-height: 24px;
    }

    .roadmap .content .roads .milestone.helium {
        margin-top: 131px;
    }

    .roadmap .content .roads .milestone.lithium,
    .roadmap .content .roads .milestone.beryllium {
        margin-top: 50px;
    }

    .roadmap .content .roads .road-axis .timestop.hydrogen {
        top: 80px;
    }

    .roadmap .content .roads .road-axis .timestop.helium {
        top: 210px;
    }

    .roadmap .content .roads .road-axis .timestop.lithium {
        top: 340px;
    }

    .roadmap .content .roads .road-axis .timestop.beryllium {
        top: 470px;
    }
}

@media (min-width: 1400px) and (max-width: 1599px) {

    .banner .slogan {
        font-size: 76px;
        line-height: 100px;
    }

    .banner .network-stats {
        margin: 148px auto;
        padding-top: 48px;
        padding-bottom: 36px;
    }

    .banner .network-stats .stats-item {
        margin-left: 88px;
    }

    .feature.permissionless {
        margin-top: 48px;
    }

    .feature.start-a-node {
        margin-top: 148px;
    }

    .feature.start-a-node .buttons .node-btn {
        margin: 0 32px;
    }
    .feature.model-service {
        margin-top: 148px;
    }
    .feature.model-service .model-service-frame > .title {
        font-size: 48px;
        line-height: 64px;
    }

    .feature.model-service .model-service-frame .highlights .item-wrapper .item {
        padding: 48px 24px;
    }

    .feature.model-service .model-service-frame .highlights .item-wrapper .item .triangles img {
        margin: 0 6px;
    }

    .feature.model-service .model-service-frame .highlights .item-wrapper .item .title {
        font-size: 20px;
    }

    .feature.model-service .model-service-frame .highlights .item-wrapper .item .description {
        font-size: 16px;
    }

    .feature.defi {
        margin-top: 88px;
    }

    .feature.defi .bg {
        right: 5%;
    }

    .feature.defi .content {
        width: 85%;
    }

    .feature.defi .content > .title .line {
        font-size: 48px;
        line-height: 60px;
    }

    .feature.defi .content .highlights .column .item {
        width: 80%;
        padding: 20px;
    }

    .feature.defi .content .highlights .column .item .title .text {
        font-size: 18px;
    }

    .roadmap {
        margin-top: 88px;
    }

    .roadmap .content .roads {
        height: 700px;
    }

    .roadmap .content .roads .milestone {
        padding: 24px;
    }

    .roadmap .content .roads .milestone .title {
        font-size: 20px;
    }

    .roadmap .content .roads .milestone .description {
        font-size: 16px;
        line-height: 24px;
    }
    .roadmap .content .roads .milestone.helium {
        margin-top: 131px;
    }

    .roadmap .content .roads .milestone.lithium,
    .roadmap .content .roads .milestone.beryllium {
        margin-top: 50px;
    }

    .roadmap .content .roads .road-axis .timestop.hydrogen {
        top: 80px;
    }

    .roadmap .content .roads .road-axis .timestop.helium {
        top: 210px;
    }

    .roadmap .content .roads .road-axis .timestop.lithium {
        top: 340px;
    }

    .roadmap .content .roads .road-axis .timestop.beryllium {
        top: 470px;
    }
}
